<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/darkpan-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Semih Şanlı</h6>
                <span>Mongo Restaurant - Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Abouts/AboutList/" class="nav-item nav-link"><i class="fa fa-info me-2"></i>Hakkımızda</a>
            <a href="/BookATables/BookList/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Rezervasyonlar</a>
            <a href="/Categories/CategoryList" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Kategoriler</a>
            <a href="/ContactDetails/ContactDetailList/" class="nav-item nav-link"><i class="fa fa-address-card me-2"></i>İletişim Bilgileri</a>
            <a href="/ContactUses/ContactUsList/" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Mesajlar</a>
            <a href="/Features/FeatureList/" class="nav-item nav-link"><i class="fa fa-star me-2"></i>Öne Çıkanlar</a>
            <a href="/Galleries/GalleryList/" class="nav-item nav-link"><i class="fa fa-camera-retro me-2"></i>Galeri</a>
            <a href="/OurSpecials/OurSpecialList/" class="nav-item nav-link"><i class="fa fa-certificate me-2"></i>Spesiyallerimiz</a>
            <a href="/Products/ProductList/" class="nav-item nav-link"><i class="fa fa-barcode me-2"></i>Ürünler</a>
            <a href="/Services/ServiceList/" class="nav-item nav-link"><i class="fa fa-folder me-2"></i>Hizmetler</a>
            <a href="/Teams/TeamList/" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Takımımız</a>
            <a href="/Testimonials/TestimonialList" class="nav-item nav-link"><i class="fa fa-retweet me-2"></i>Referanslarımız</a>
            <a href="/WhyUses/WhyUsList" class="nav-item nav-link"><i class="fa fa-question-circle me-2"></i>Neden Biz?</a>
        </div>
    </nav>
</div>