@model CreateProductDTO
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <div class="card-body">
        <div class="form-group">
            <label for="ProductName">Ürün Adı Giriniz</label>
            <input type="text" class="form-control  text-dark bg-light" asp-for="ProductName" id="ProductName">

        </div>
        <div class="form-group">
            <label for="ProducContent">Ürün İçeriği Giriniz</label>
            <input type="text" class="form-control text-dark bg-light" asp-for="ProducContent" id="ProducContent">

        </div>
        <div class="form-group">
            <label for="ProductPrice">Fiyatı</label>
            <input type="text" class="form-control text-dark bg-light" asp-for="ProductPrice" id="ProductPrice">

        </div>
        <div class="form-group">
            <label for="ProductImageURL">Görsel URL Giriniz</label>
            <input type="text" class="form-control text-dark bg-light" asp-for="ProductImageURL" id="ProductImageURL">

        </div>
        <div class="form-group">
            <label>Kategori</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
                <option value="">Kategori Seçiniz</option>
            </select>
        </div>
        <br />
        <button class="btn btn-outline-primary">Ürün Bilgisini Ekle</button>
    </div>
</form>

